<web-app xmlns = "http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://java.sun.com/xml/ns/j2ee
   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
   version = "2.4">

   <display-name>Spring-ws service</display-name>
   <servlet>
      <servlet-name>spring-ws</servlet-name>
      <servlet-class>
         org.springframework.ws.transport.http.MessageDispatcherServlet
      </servlet-class>
      <init-param>
         <param-name>transformWsdlLocations</param-name>
         <param-value>true</param-value>
      </init-param>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>spring-ws</servlet-name>
      <url-pattern>/*</url-pattern>
    </servlet-mapping>
    

            
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>spring-ws</web-resource-name>
            <url-pattern>/HelloService</url-pattern>
            <!--<http-method>GET</http-method>-->
            <!--<http-method>POST</http-method>-->
        </web-resource-collection>
        <auth-constraint>
            <role-name>test</role-name>
        </auth-constraint>
<!--        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>-->
    </security-constraint>
    <security-role>
        <role-name>test</role-name>
    </security-role>
    <login-config>
        <auth-method>BASIC</auth-method>
        <!--<realm-name>UserDatabase</realm-name>-->
    </login-config>
    
  
      
</web-app>